ul.paraules {
    list-style-type: none; 
    padding: 0;
}

ul.paraules li {
    display: inline-block; 
    margin: 3px;
}

.paraula-normal {
    border: 1px solid #666;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.paraula-clau {
    border: 1px solid #444;
    background-color: #ffcc00;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.paraula-llarga {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
